<div class="share">
    <div class="fb-share-button" data-href="@ViewBag.UrlToShare" data-layout="button_count"></div><!--facebook - trocar para o link dinamico do post -->

    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
    <!-- Posicione esta tag onde você deseja que o botão compartilhar apareça. -->
    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
</div>
