@{
    ViewBag.Title = "Licitações";
}
<div class="container body-content">
    <ol class="breadcrumb">
        Você está aqui:
        <li><a href="/">Início</a></li>
        <li>Transparência</li>
        <li class="active">Licitações</li>
    </ol>
    <header>
        <h1 class="green-title">Licitações</h1>
    </header><hr>
    <br>
    <p>Acesse os conteúdos da Licitações da Defensoria Pública do Estado do Rio.</p>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"> Licitações </h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/licitacoes-contratos-convenios/licitacoes">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Contratos</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/licitacoes-contratos-convenios/contratos">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Contratos de Aluguéis</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/licitacoes-contratos-convenios/contratos-de-alugueis">Acesse aqui</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Ata de Registro de Preços</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/licitacoes-contratos-convenios/ata-de-registro-de-preco">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Convênios</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/licitacoes-contratos-convenios/convenios-e-instrumentos-congeneres">Acesse aqui</a>
                </div>
            </div>
        </div>
  
    </div>

    <br /><br />
    <a href="javascript:window.history.go(-1)" class="btn btn-xs btn-default">VOLTAR</a>

</div>
