<div class="container body-content">
    <ol class="breadcrumb">
        Você está aqui:
        <li><a href="/">Início</a></li>
        <li>Transparência</li>
        <li class="active">Execução orçamentária</li>
    </ol>

    <header>

        <h1 class="green-title">Fundo Especial da Defensoria Pública do Estado <br>do Rio de Janeiro - FUNDPERJ</h1>

    </header><hr>
    <br>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
    <br>
    <h3 class="green-title">Composição Conselho de Controle da Gestão do Fundperj</h3>
    <p><strong> Presidente: </strong>Defensor público-geral</p>
    <div class="row">
        <div class="col-sm-4">
            <strong>Conselheiros Titulares:</strong>
            <p>
                Jane Rezende Medina<br>
                Arnaldo Goldemberg<br>
                Carlos Alberto Amaral Dourado<br>
                Júlio César Rocha Lessa<br>
                Natália Bezerra Cortes Barroso
            </p>
        </div>
        <div class="col-sm-4">
            <strong>Conselheiros Suplentes:</strong>
            <p>
                1º Suplente - Eduardo Rodrigues de Castro<br>
                2º Suplente - Marcelo Dias Carletto
            </p>
        </div>
    </div>

    <br>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"> Atas das Reuniões</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/fundo-especial/atas-das-reunioes">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Prestação de Contas</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/fundo-especial/prestacao-de-contas">Acesse aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>