html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #005A2B;
    font-size: 12px;
}

.redes-sociais {
    height: 80px;
    line-height: 80px;
}