@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot#iefix") format("embedded-opentype"),
  url("../fonts/gotham-bold.woff") format("woff"),
  url("../fonts/gotham-bold.ttf") format("truetype"),
  url("../fonts/gotham-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.eot");
  src: url("../fonts/gotham-book.eot#iefix") format("embedded-opentype"),
  url("../fonts/gotham-book.woff") format("woff"),
  url("../fonts/gotham-book.ttf") format("truetype"),
  url("../fonts/gotham-book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    background: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'gotham-bold', Arial, sans-serif;
  color: #00793A;
}

.topo { 
    background: #ffffff;
    padding: 20px 0  20px 0;
}

.footer {
   /* position: absolute;*/
    bottom: 0;
    width: 100%;
    background-color: #005A2B;
    font-size: 12px;
    padding: 20px 0 5px 0;
    margin-top: 70px; 
}

.redes-sociais {
    height: 80px;
    line-height: 80px;
}
.redes-sociais i {
    border-radius: 100%;
    padding: 5px 7px;
    display: inline-block;
    background-color:#6DB123;
}

.menu-secundario {
    background-color: #EFEFED;
    color: #757575;
    padding: 7px 0 7px 0;
}
.menu-secundario a {
    color: inherit;
    text-decoration: none;  
    padding: 0 7px 0 7px;  
}

.search { margin-top: 12px;}

.redes-icon { color: #005A2B !important; width: 25px; height: 25px; margin: 5px; text-align: center; font-size: 14px; }
.redes-sociais span { font-size: 14px;}
.redes-icon .fa { font-size: 1.45em;}

.section-title {
    text-transform: uppercase;
}

.dados-home {
    margin-top: 75px;
}

.item-icone { 
    background: #6DB123;
    padding: 15px;
    width: 80px;
    height: 80px;
    float: left;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
    margin-right: 10px;
}
.item-icone img { 
    margin: 0 auto;
    display: block;
}

.dados-item { border-bottom: 1px solid #AEAEAE; margin: 20px 0;}
.dados-item h4 { margin-top: 20px;}
.subitem-container { margin-top: 20px; margin-bottom: 20px;}
.dados-subitem { font-weight: bold; }
.dados-subitem a { color: inherit;}
