@{
    ViewBag.Title = "Home";
}






<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="content/img/Rectangle-17.png" alt="">
    </div>
    <div class="col-sm-6">
        <div class="col-sm-10">
            <br><br>
            <h1>Informação ao alcance de todos</h1>

            <p class="text-justify">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            </p>
            <a class="btn btn-outline-primary text-uppercase" href="#">Leia mais</a>
        </div>

    </div>

</div>

<section class="dados-home hidden-xs">
    <h3 class="section-title text-center">Dados da transparência</h3>

    <article class="dados-item">
        <div class="row">

            <div class="col-sm-3">
                <div class="item-icone img-circle "><img src="content/img/execucao orcamentaria.png" alt=""></div>
                <h4>Execução orçamentária</h4>
            </div>
            <div class="col-sm-9 subitem-container">
                <div class="row">
                    <div class="dados-subitem col-sm-4">
                        <a href="#">» Demonstrativo de arrecadação </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#">» Execução orçamentária </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#">» Repasse previdenciário  </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Suprimento de fundo   </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Diárias e passagens    </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Limite de gastos com pessoal    </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Prestação de contas    </a>
                    </div>
                </div>
            </div>
        </div>


    </article>

    <article class="dados-item">
        <div class="row">

            <div class="col-sm-3">
                <div class="item-icone img-circle "><img src="content/img/execucao orcamentaria.png" alt=""></div>
                <h4>Execução orçamentária</h4>
            </div>
            <div class="col-sm-9 subitem-container">
                <div class="row">
                    <div class="dados-subitem col-sm-4">
                        <a href="#">» Demonstrativo de arrecadação </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#">» Execução orçamentária </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#">» Repasse previdenciário  </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Suprimento de fundo   </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Diárias e passagens    </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Limite de gastos com pessoal    </a>
                    </div>

                    <div class="dados-subitem col-sm-4">
                        <a href="#"> » Prestação de contas    </a>
                    </div>
                </div>
            </div>
        </div>


    </article>

</section>

