    <!-- acessibilidade -->
<header class="sticky-top">
    <nav class="menu-secundario">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 pull-right col-xs-12">
                    <div class="pull-right">
                        <span><strong><a href="#">Acessibilidade</a></strong></span>
                        <a href=""><img src="~/content/img/texto-maior.png" alt=""></a>
                        <a href=""><img src="~/content/img/texto-menor.png" alt=""></a>
                        <a href=""><img src="~/content/img/contraste.png" alt=""></a>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- fim acessibilidade -->
