<header class="sticky-top">    
    <nav class="menu-secundario">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 pull-right col-xs-12">
                    <div class="pull-right">
                        <span><strong>Acessibilidade</strong></span>
                        <button class="btn btn-sm btn-outline-primary">A-</button>
                        <button class="btn btn-sm btn-outline-primary">A+</button>
                        <button class="btn btn-sm btn-outline-primary"><i class="fa fa-adjust" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>