@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div>
        <br>
        @*<img class="img-responsive" src="content/img/Rectangle-17.png" alt="">*@
        <img class="img-fluid2 img-responsive" src="content/img/banner_homes.png" alt="">
    </div>
    <div>
        <div>
            <h1 class="green-title">Informação ao alcance de todos</h1>
            <br />
            <p class="text-justify">
                O Portal da Transparência é para você, cidadão.<br />
                Neste espaço, você poderá acompanhar e fiscalizar a gestão dos recursos-públicos destinados à Defensoria Pública do Rio de Janeiro.
                Aqui, encontram-se à disposição da sociedade informações relativas à execução orçamentária e financeira, às licitações, aos convênios e à gestão do quadro de pessoal da instituição.
                O Portal da Transparência foi criado em acordo à Lei 12.572. Sancionada em 18 de novembro de 2011, essa lei regulamenta o direito constitucional da população brasileira às informações de todos os órgãos públicos do país.
                A Defensoria Pública do Rio de Janeiro acredita que a transparência é a melhor arma de combate à corrupção, justamente por permitir a participação do cidadão no controle das finanças públicas.
            </p>
            @*<a class="btn btn-outline-primary text-uppercase" href="#">Leia mais</a>*@
        </div>

    </div>

</div>

<section class="dados-home hidden-xs">
    <h3 class="green-title section-title text-center">Dados da transparência</h3>
    <hr />

    <div class="row">

        <a href="/execucao-orcamentaria/index"><img class="img-responsive" alt="Responsive image" src="~/Content/img/bn-ex.orcamentaria.png"></a>

        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/execucao-orcamentaria/receitas">» Demonstrativo de Receita </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/execucao-orcamentaria/execucao-orcamentaria">» Execução Orçamentária </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/execucao-orcamentaria/diarias">» Diárias </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/execucao-orcamentaria/passagens-aereas">» Passagens Aéreas </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/execucao-orcamentaria/auxilio-livro">» Auxílio Livro </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/execucao-orcamentaria/telefonia-e-internet-movel">» Telefonia e Internet Móvel </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <a href="/licitacoes-contratos-convenios/index"><img src="~/Content/img/bn_licitacoes.png" class="img-responsive" alt="Responsive image"></a>

        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/licitacoes-contratos-convenios/licitacoes">» Licitações </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/licitacoes-contratos-convenios/contratos">» Contratos </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/licitacoes-contratos-convenios/contratos-de-alugueis">» Contratos de Aluguéis  </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/licitacoes-contratos-convenios/ata-de-registro-de-preco"> » Ata de Registro de Preços </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/licitacoes-contratos-convenios/convenios-e-instrumentos-congeneres"> » Convênios    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">

        <img src="~/Content/img/Gestão de pessoas.png" class="img-responsive" alt="Responsive image">
        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/servidores-ativos">» Servidores Ativos </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/servidores-inativos">» Servidores Inativos </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/quadro-cargos-vagos-e-ocupados">» Quadro de Cargos Vagos e Ocupados</a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/antiguidade-defensores-publicos"> » Antiguidade - Defensores</a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/antiguidade-servidores"> » Antiguidade - Servidores</a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/estagiarios"> » Estagiários</a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/residentes-juridicos"> » Residentes Jurídicos</a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/movimentacao-defensores-publicos"> » Mapa de Movimentação - Defensores</a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gestao-pessoas/pagina/estrutura-remuneratoria-dos-cargos-efetivos"> » Estrutura Remuneratória</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <img src="~/Content/img/gastos com pessoal.png" class="img-responsive" alt="Responsive image">
        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/gastos-com-pessoal/relatorio-mensal-de-remuneracao">» Relatório Mensal de Remuneração </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/gastos-com-pessoal/auxilio-alimentacao-refeicao">» Auxílio Alimentação </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/gastos-com-pessoal/auxilio-saude">» Auxílio Saúde  </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/gastos-com-pessoal/auxilio-transporte-servidores">» Auxílio Transporte - Servidores </a>
                </div>

                @*<div class="dados-subitem col-sm-4">
                        <a href="~/gastos-com-pessoal/gratificacao-por-acumulacao">» Gratificação por Acumulação </a>
                    </div>*@
                <div class="dados-subitem col-sm-4">
                    <a href="/gastos-com-pessoal/estagiarios">» Estagiários </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gastos-com-pessoal/residentes-juridicos">» Residentes Jurídicos </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/gastos-com-pessoal/consulta-remuneracao">» Consulta à Remuneração </a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">

        <img src="~/Content/img/relatório de gestão.png" class="img-responsive" alt="Responsive image">
        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/relatorios-e-prestacoes-de-contas/relatorio-de-gestao">» Relatório de Gestão </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/relatorios-e-prestacoes-de-contas/gestao-fiscal">» Gestão Fiscal </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/relatorios-e-prestacoes-de-contas/prestacao-de-contas">» Prestação de Contas </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <img src="~/Content/img/contabeis.png" class="img-responsive" alt="Responsive image">
        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/demonstracoes-contabeis/balanco-patrimonial">» Balanço Patrimonial </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/demonstracoes-contabeis/balanco-orcamentario">» Balanço Orçamentário </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/demonstracoes-contabeis/balanco-financeiro">» Balanço Financeiro </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/demonstracoes-contabeis/demonstracao-das-variacoes-patrimoniais">» Demonstração das <br>Variações Patrimoniais </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/demonstracoes-contabeis/demonstracao-dos-fluxos-de-caixa">» Demonstração dos Fluxos de Caixa </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/demonstracoes-contabeis/demonstracoes-das-mutacoes-do-patrimonio-liquido">» Demonstrações das Mutações <br>do Patrimônio Líquido </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <img src="~/Content/img/Legislações orçamentárias.png" class="img-responsive" alt="Responsive image">
        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/legislacoes-orcamentarias/ppa">» PPA </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/legislacoes-orcamentarias/ldo">» LDO </a>
                </div>

                <div class="dados-subitem col-sm-4">
                    <a href="/legislacoes-orcamentarias/loa">» LOA </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <a href="/fundo-especial/conselho-de-controle-e-gestao"><img src="~/Content/img/fundo especial.png" class="img-responsive" alt="Responsive image"></a>
        <div class="col-sm-9 subitem-container">
            <div class="row">
                <div class="dados-subitem col-sm-4">
                    <a href="/fundo-especial/conselho-de-controle-e-gestao">» Conselho de Controle e Gestão</a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/fundo-especial/atas-das-reunioes">» Atas das Reuniões </a>
                </div>
                <div class="dados-subitem col-sm-4">
                    <a href="/fundo-especial/prestacao-de-contas">» Prestação de Contas </a>
                </div>               
            </div>
        </div>
    </div>

    @*<article class="dados-item">
            <div class="row">

                <div class="col-sm-3">
                    <div class="item-icone img-circle "><img src="~/content/img/planejamento.png" alt=""></div>
                    <h4 class="green-title">Planejamento estratégico</h4>
                </div>
                <div class="col-sm-9 subitem-container">
                    <div class="row">
                        <div class="dados-subitem col-sm-4">
                            <a href="#">» Confira o planejamento deste ano. </a>
                        </div>
                    </div>
                </div>
            </div>


        </article>*@

</section>