@{
    ViewBag.Title = "Perguntas Frequentes";
}

<div class="container body-content">
    <ol class="breadcrumb">
        Você está aqui:
        <li><a href="/">Início</a></li>
        <li>Perguntas Frequentes</li>

    </ol>

    <header>
        <h1 class="green-title">Perguntas Frequentes</h1>

    </header>


    <!-- comentário inicio pergunta 1 -->
    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">

                <h5>
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        O que é Defensoria Pública?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                    <div class="margin-boton_new fonte-respostas">

                        <p>Somos uma instituição pública cuja função é oferecer, de forma integral e gratuita, assistência e orientação jurídica aos cidadãos que não possuem condições financeiras de pagar as despesas destes serviços. Além disto, promovemos a defesa dos direitos humanos, direitos individuais e coletivos e de grupos em situação vulnerável. </p>

                        <p>A assistência jurídica gratuita aos vulneráveis é um direito e garantia fundamental de cidadania previsto no artigo 5º, LXXIV, da Constituição da República. A gratuidade de justiça abrange honorários advocatícios e periciais, assim como as custas judiciais ou extrajudiciais.</p>

                    </div>
                </div>
            </div>
        </div>



    </div>


    <!-- TÉRMINO pergunta 1 / INICIA pergunta 2 -->

    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">

            <h5>
                <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="short-full glyphicon glyphicon-plus"></i>
                    O que faz um defensor público?
                </a>
            </h5>
        </div>
    </div>



    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div class="row">

                <div class="margin-boton_new fonte-respostas">

                    <p>O defensor público, o qual presta assistência jurídica gratuita, é uma pessoa formada em Direito e aprovada em concurso público de provas e títulos. A principal função do defensor é atuar em defesa daqueles que não possuem condições financeiras de pagar um advogado. </p>

                </div>


            </div>
        </div>



    </div>

    <!-- TÉRMINO pergunta 2 / INICIA pergunta 3 -->


    <div class="card">
        <div class="card-header" role="tab" id="headingThree">

            <h5>
                <a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <i class="short-full glyphicon glyphicon-plus"></i>
                    Quem tem direito ao atendimento da Defensoria?
                </a>
            </h5>
        </div>
    </div>



    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <div class="row">

                <div class="margin-boton_new fonte-respostas">

                    <p>Todas as pessoas que não tenham condições financeiras de contratar advogado e pagar despesas de processo judicial, ou por certidões, escrituras etc, sem prejuízo do seu sustento e de sua família. </p>

                    <p>Desta forma, o importante não é o valor do salário da pessoa, mas se as despesas dela e de sua família permitem a contratação de advogado ou permitem que ela pague por documentos, certidões etc.</p>

                    <p>Em processos criminais, por força do princípio constitucional da ampla defesa, qualquer pessoa pode ser defendida pela Defensoria Pública, independentemente de sua condição econômica. Nesta hipótese, caso o assistido tenha condições de arcar com o pagamento de honorários de um advogado e seja representado pela Defensoria Pública, poderá o juiz fixar honorários em favor do Centro de Estudos Jurídicos (Cejur) da Defensoria Pública.</p>

                    <p>Ressalte-se, ainda, que não só as pessoas físicas podem ser atendidas pela Defensoria Pública. As pessoas jurídicas em dificuldades financeiras, como as microempresas, podem ser assistidas por um defensor público. Igualmente podem ser representadas pela Defensoria sociedades sem fins lucrativos e associações comunitárias, desde que declarem insuficiência de recursos.</p>
                </div>
            </div>
        </div>



    </div>

    <!-- TÉRMINO pergunta 3 / INICIA pergunta 4 -->

    <div class="card">
        <div class="card-header" role="tab" id="headingFour">

            <h5>
                <a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <i class="short-full glyphicon glyphicon-plus"></i>
                    Preciso pagar pelos serviços da Defensoria?
                </a>
            </h5>
        </div>
    </div>



    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <div class="row">

                <div class="margin-boton_new fonte-respostas">

                    <p>Não. Os serviços jurídicos prestados pela Defensoria Pública são totalmente gratuitos.</p>

                </div>


            </div>
        </div>



    </div>



    <!-- TÉRMINO pergunta 4 / INICIA pergunta 5 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingFive">

                <h5>
                    <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        Preciso de encaminhamento para ser atendido pelo defensor público?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                    <div class="margin-boton_new fonte-respostas">

                        <p>Não. Para saber os locais de atendimento acesse: http://www.defensoria.rj.def.br/Cidadao/Enderecos-para-Atendimento </p>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- TÉRMINO pergunta 5 / INICIA pergunta 6 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingSix">

                <h5>
                    <a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        Como é realizado o atendimento?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                    <div class="margin-boton_new fonte-respostas">

                        <p>Para verificar qual serviço necessita, documentos necessários e locais de atendimento, acesse: http://www.defensoria.rj.def.br/AutoAtendimento/Navegar/nossos-servicos </p>

                    </div>
                </div>
            </div>
        </div>


    </div>



    <!-- TÉRMINO pergunta 6 / INICIA pergunta 7 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingSeven">

                <h5>
                    <a data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        Quais documentos necessários para o atendimento?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <!-- comentário div dos meses repetir -->
                    <div class="margin-boton_new fonte-respostas">

                        <p>Para saber quais são os documentos necessários para receber o atendimento, acesse: http://www.defensoria.rj.def.br/AutoAtendimento/Navegar/3690 </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- TERMINO -->
    <!-- TÉRMINO pergunta 7 / INICIA pergunta 8 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingEight">

                <h5>
                    <a data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        Preciso levar as testemunhas para o atendimento com o defensor público?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <!-- comentário div dos meses repetir -->
                    <div class="margin-boton_new fonte-respostas">

                        <p>Não é preciso levar as testemunhas no dia de atendimento na Defensoria Pública. Basta levar anotado o nome completo, endereço completo e telefone das testemunhas.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- TERMINO -->
    <!-- TÉRMINO pergunta 8 / INICIA pergunta 9 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingNine">

                <h5>
                    <a data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        Como devo proceder quando recebo um mandado de citação ou sou intimado para comparecer a uma audiência?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <!-- comentário div dos meses repetir -->
                    <div class="margin-boton_new fonte-respostas">

                        <p>Ao receber um mandado de citação ou intimação, o interessado deve entrar em contato com a Central de Relacionamento com o Cidadão (CRC), por meio do número de utilidade pública 129, para se informar sobre os dias e horários de atendimento dos órgãos da Defensoria Pública e a documentação mínima necessária para apresentar ao defensor público que irá atende-lo. </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- TERMINO -->
    <!-- TÉRMINO pergunta 8 / INICIA pergunta 9 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingTem">

                <h5>
                    <a data-toggle="collapse" href="#collapseTem" aria-expanded="true" aria-controls="collapseTem">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        A Defensoria Pública atua em ações trabalhistas ou em casos de benefícios do INSS?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseTem" class="collapse" role="tabpanel" aria-labelledby="headingTem" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <!-- comentário div dos meses repetir -->
                    <div class="margin-boton_new fonte-respostas">

                        <p>A Defensoria Pública do Estado não atua junto à Justiça do Trabalho. Para atendimento na esfera trabalhista, o cidadão pode procurar auxílio junto ao sindicato da categoria, escritórios modelos de faculdades de Direito ou à Defensoria Pública da União. Com relação aos benefícios do INSS, salvo as hipóteses de acidente de trabalho, os casos são atendidos pela Defensoria Pública da União.</p>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- TERMINO -->
    <!-- TÉRMINO pergunta 8 / INICIA pergunta 9 -->


    @*<div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingTwelve">

                <h5>
                    <a data-toggle="collapse" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        A Defensoria Pública faz algum atendimento especializado na área de saúde?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                    <div class="margin-boton_new fonte-respostas">

                        <p>AGUARDANDO RESPOSTA</p>

                    </div>
                </div>
            </div>
        </div>


    </div>*@

    <!-- TERMINO -->
    <!-- TERMINO -->
    <!-- TÉRMINO pergunta 8 / INICIA pergunta 9 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingThirteen">

                <h5>
                    <a data-toggle="collapse" href="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        Como fazer sugestões, elogios, críticas e reclamações pelos serviços prestados pela Defensoria Pública?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <!-- comentário div dos meses repetir -->
                    <div class="margin-boton_new fonte-respostas">

                        <p>Para sugestões, elogios críticas e reclamações, o cidadão deverá entrar em contato com a Ouvidoria da Defensoria Pública: http://www.defensoria.rj.def.br/Institucional/Ouvidoria. </p>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- TERMINO -->
    <!-- TERMINO -->
    <!-- TÉRMINO pergunta 8 / INICIA pergunta 9 -->


    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingFourteen">

                <h5>
                    <a data-toggle="collapse" href="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                        O que fazer se eu não encontrar a informação que desejo no portal?
                    </a>
                </h5>
            </div>
        </div>



        <div id="collapseFourteen" class="collapse" role="tabpanel" aria-labelledby="headingFourteen" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <!-- comentário div dos meses repetir -->
                    <div class="margin-boton_new fonte-respostas">

                        <p>Caso não encontre o que procure, entre em contato com os nossos analistas por meio do link http://www.defensoria.rj.def.br/Cidadao/Atendimento-On-line. </p>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- TERMINO -->

</div>