@{
    ViewBag.Title = "Execução Orçamentária";
}
<div class="container body-content">
    <ol class="breadcrumb">
        Você está aqui:
        <li><a href="/">Início</a></li>
        <li>Transparência</li>
        <li class="active">Execução orçamentária</li>
    </ol>
    <header>
        <h1 class="green-title">Execução orçamentária</h1>
    </header><hr>
    <br>
    <p>Acesse os conteúdos da Execução orçamentária da Defensoria Pública do Estado do Rio.</p>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"> Demonstrativo de Receita</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/execucao-orcamentaria/receitas">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Execução Orçamentária</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/execucao-orcamentaria/execucao-orcamentaria">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Diárias</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/execucao-orcamentaria/diarias">Acesse aqui</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"> Passagens Aéreas</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/execucao-orcamentaria/passagens-aereas">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Auxílio Livro</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/execucao-orcamentaria/auxilio-livro">Acesse aqui</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Telefonia e Internet Móvel</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary text-uppercase" href="/execucao-orcamentaria/telefonia-e-internet-movel">Acesse aqui</a>
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <a href="javascript:window.history.go(-1)" class="btn btn-xs btn-default">VOLTAR</a>

</div>
