
@{
    ViewBag.Title = "Gestão de Pessoas";
}

<h1 class="text-success">Gestão de Pessoas</h1>
<h2>Quadro de cargos - ativos</h2>

<hr />


<div class="form-group row">
    <label class="col-sm-2 control-label">Filtre por data:</label>
    <div class="col-md-4">
        <select class="form-control">
            <option>Mês/Ano</option>
        </select>
    </div>
</div>
<h3>Exibindo dados referentes à: <span class="text-success">Julho de 2017</span> </h3>

<table class="table table-hover table-bordered table-striped">
    <thead class="thead-green">
        <tr>
            <th>Matrícula</th>
            <th>Cargo</th>
            <th>Função</th>
            <th>Lotação</th>
            <th>Nomeação</th>
            <th>Estável</th>
            <th>Antiguidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
        </tr>
    </tbody>
</table>