@using Transparencia.Web.Utils

@{
    ViewBag.Title = "Estrutura Remuneratória";
}

<ol class="breadcrumb">
    Você está aqui:
    <li>@Html.ActionLink("Início", "Index", "Portal")</li>
    <li>Gestão de Pessoas</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<header>
    <h1 class="green-title">Gestão de pessoas</h1>
    <h3 class="green-title">@ViewBag.Title</h3>
</header>

<p>Veja a estrutura remuneratória dos servidores e membros da Defensoria Pública do Estado do Rio.</p>
<hr>

<h4 class="green-title text-uppercase">Membros </h4>
<p>Cargos de Provimento Efetivo:</p>

<table border="1" cellpadding="0" class="table table-bordered table-striped">
    <thead class="green-title">
        <tr>
            <td style="width:405px;">
                <p><strong>CARGO</strong></p>
            </td>
            <td style="width:164px;">
                <p><strong>VENCIMENTOS + REPRESENTA&Ccedil;&Atilde;O</strong></p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:405px;">
                <p>DEFENSOR ESPECIAL</p>
            </td>
            <td style="width:164px;">
                <p>28.439,89</p>
            </td>
        </tr>
        <tr>
            <td style="width:405px;">
                <p>DEFENSOR</p>
            </td>
            <td style="width:164px;">
                <p>27.017,67</p>
            </td>
        </tr>
        <tr>
            <td style="width:405px;">
                <p>DEFENSOR SUBSTITUTO</p>
            </td>
            <td style="width:164px;">
                <p>25.666,87</p>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>
<hr>
<br>
<br>

<h4 class="green-title text-uppercase">Servidores  </h4>
<p>Cargos de Provimento Efetivo:        </p>
<br>


<h4>Carreira de Técnico Superior Jurídico</h4>

<table border="1" cellpadding="0" class="table table-bordered table-striped">
    <thead class="green-title">
        <tr>
            <td style="width:361px;">
                <p><strong>PADR&Atilde;O</strong></p>
            </td>
            <td style="width:150px;">
                <p><strong>VALOR &ndash; R$</strong></p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:361px;">
                <p>I</p>
            </td>
            <td style="width:150px;">
                <p>&nbsp;4.374,92</p>
            </td>
        </tr>
        <tr>
            <td style="width:361px;">
                <p>II</p>
            </td>
            <td style="width:150px;">
                <p>&nbsp;4.156,28</p>
            </td>
        </tr>
        <tr>
            <td style="width:361px;">
                <p>III</p>
            </td>
            <td style="width:150px;">
                <p>&nbsp;3.948,47</p>
            </td>
        </tr>
    </tbody>
</table>
<br>

<h4>Carreira de Técnico Superior Especializado</h4>

<table border="1" cellpadding="0" class="table table-bordered table-striped">
    <thead class="green-title">
        <tr>
            <td style="width:361px;">
                <p><strong>PADR&Atilde;O</strong></p>
            </td>
            <td style="width:150px;">
                <p><strong>VALOR &ndash; R$</strong></p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:361px;">
                <p>I</p>
            </td>
            <td style="width:150px;">
                <p>4.374,92</p>
            </td>
        </tr>
        <tr>
            <td style="width:361px;">
                <p>II</p>
            </td>
            <td style="width:150px;">
                <p> 4.156,28</p>
            </td>
        </tr>
        <tr>
            <td style="width:361px;">
                <p>III</p>
            </td>
            <td style="width:150px;">
                <p>3.948,47</p>
            </td>
        </tr>
    </tbody>
</table>
<br>

<h3>Carreira de Técnico Médio de Defensoria</h3>

<table border="1" cellpadding="0" class="table table-bordered table-striped">
    <thead class="green-title">
        <tr>
            <td style="width:361px;">
                <p><strong>PADR&Atilde;O</strong></p>
            </td>
            <td style="width:150px;">
                <p><strong>VALOR &ndash; R$</strong></p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:361px;">
                <p>I</p>
            </td>
            <td style="width:150px;">
                <p>3.553,62</p>
            </td>
        </tr>
        <tr>
            <td style="width:361px;">
                <p>II</p>
            </td>
            <td style="width:150px;">
                <p> 3.375,92</p>
            </td>
        </tr>
        <tr>
            <td style="width:361px;">
                <p>III</p>
            </td>
            <td style="width:150px;">
                <p>3.206,47</p>
            </td>
        </tr>
    </tbody>
</table>

<hr />
<p class="text-muted">
    <em>
        <br />Responsável pelos dados: Diretoria de Gestão de Pessoas
    </em>
</p>

<br /><br />
<a href="javascript:window.history.go(-1)" class="btn btn-xs btn-default">VOLTAR</a>

@section scripts
{
    @Scripts.Render("~/bundles/datatables")
}