@{
    ViewBag.Title = "Gestão de pessoas";
}
<div class="page-header">
    <h2><small>@ViewBag.Title</small></h2>
</div>
<h3><small>Estagiários: <a href="@Url.Action("ImportaCsvEstagiarios")" class="btn btn-success btn-sm"> Acessar</a> </small> </h3>
<h3><small>Residentes Jurídicos: <a href="@Url.Action("ImportaCsvResidentesJuridicos")" class="btn btn-success btn-sm"> Acessar</a> </small> </h3>
@*<h3><small>Servidores Inativos: <a href="@Url.Action("ListaPeriodosServidorInativo")" class="btn btn-success btn-sm"> Acessar</a> </small> </h3>*@
